html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(18, 18, 19);
}
canvas {
  margin-top: 100px;
  display: block;
  border-color: rgb(186, 241, 7);
  border-width: 20px;
  border-style:solid;
}
